body{
	background-color: #E0E0E0;
}

.title{
	color: black;
	background-color: #90CAF9;
	
	padding: 10px;
}
.bienvenida{
	color: black;
	background-color: #BBDEFB;
	
}
.bienvenida .login{
	padding-top: 20px;
	
}
.boton {
	color: #009688;
	padding: 5px;

}
.post{
	background-color: #ECEFF1;
	padding: 10px;
	margin: 2px;
	margin-top: 5px;
	border-radius: 10px;
}