<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="static/css/style.css" rel="stylesheet">
    
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="title col-md-12 text-center">
        <h1>Proyecto Blog</h1>
      </div>
    </div>
    <div class="bienvenida row">
      <div class="col-md-9">
        <h3>Bienvenido {{username}}</h>
      </div>
      <div class="col-md-3 text-right login">
        {% if username %}
          <a href="/logout">Logout</a>
        {% else %}
          <a href="/login">Login</a>
        {% endif %}
      </div>
    </div>
     <div class="row">
      <div class="boton col-md-12">
        <a href="/agregarPost" class="btn btn-primary">Agregar</a>
      </div>
    </div>
     <div class="row">
        
          {% block content %}
          {% endblock %}
        
      </div>

  </div>


</body>

</html>
